{% extends "base.html" %}
{% block head %}
{% if user.is_authenticated %}
	Welcome {{user.username}}!
{% else %}
	Welcome
{% endif %}
{% endblock %}
{% block custom_nav %}<a href="" onclick="document.getElementById('target_').submit(); return false;">Groups</a>{% endblock %}
{% block content %}

    <div class="center-div">
        <div class="center-div circle" id="call-ico" name="call-ico">
            <a href="#" data-scroll-nav="0"><img src="/site_media/images/012.png"/></a>
        </div>

        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
        <h3>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</h3>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
        <div class="description" id="description" name="description" data-scroll-index="0">
            <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
    </div>
    <div>
        <form id="target_" action="/groups/" method="POST">
            {% csrf_token %}
            <input type="hidden" id="user_" name="user_" value={{user.username}} />
        </form>
    </div>
{% endblock %}
